@import url(https://fonts.googleapis.com/css?family=Oleo+Script:400|Open+Sans:300,300italic,600,600italic,800);

a,address,article,body,
div,em,fieldset,footer,form,
h1,h2,h3,h4,h5,h6,
header,html,i,img,
label,li,menu,nav,
p,section,small,span,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
footer,
header,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ul {
    list-style: none
}

body {
    -webkit-text-size-adjust: none
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none
}

html {
    box-sizing: border-box
}

*,
:after,
:before {
    box-sizing: inherit
}

body {
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .05), rgba(0, 0, 0, 0)), url(images/bg01.png);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .05), rgba(0, 0, 0, 0)), url(images/bg01.png);
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, .05), rgba(0, 0, 0, 0)), url(images/bg01.png);
    background-image: linear-gradient(top, rgba(0, 0, 0, .05), rgba(0, 0, 0, 0)), url(images/bg01.png);
    background-color: #f7f7f7;
    background-position: top left, top left;
    background-repeat: repeat-x, repeat;
    background-size: 100% 30em, auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
    color: #696969;
    font-weight: 300;
    line-height: 2.25em
}

body.is-preload *,
body.is-preload :after,
body.is-preload :before {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important
}

input,
textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
    color: #696969;
    font-weight: 300;
    line-height: 2.25em
}

a {
    color: #0090c5;
    text-decoration: underline
}

a:hover {
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444;
    font-weight: 800
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: none;
    outline: 0
}

h2 {
    font-size: 2.25em;
    margin: 0 0 1.1em 0;
    line-height: 1em
}

h3 {
    font-size: 1.35em;
    margin: 0 0 1em 0
}

em,
i {
    font-style: italic
}

p,
ul {
    margin-bottom: 2em
}

.container {
    margin: 0 auto;
    max-width: 100%;
    width: 1400px
}

@media screen and (max-width:1680px) {
    .container {
        width: 1200px
    }
}

@media screen and (max-width:1280px) {
    .container {
        width: 960px
    }
}

@media screen and (max-width:980px) {
    .container {
        width: 90%
    }
}

@media screen and (max-width:736px) {
    .container {
        width: 100%
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch
}

.row>* {
    box-sizing: border-box
}

.row>.col-1 {
    width: 8.33333%
}

.row>.col-2 {
    width: 16.66667%
}

.row>.col-3 {
    width: 25%
}

.row>.col-4 {
    width: 33.33333%
}

.row>.col-5 {
    width: 41.66667%
}

.row>.col-6 {
    width: 50%
}

.row>.col-7 {
    width: 58.33333%
}

.row>.col-8 {
    width: 66.66667%
}

.row>.col-9 {
    width: 75%
}

.row>.col-10 {
    width: 83.33333%
}

.row>.col-11 {
    width: 91.66667%
}

.row>.col-12 {
    width: 100%
}

.row {
    margin-top: -40px;
    margin-left: -40px
}

.row>* {
    padding: 40px 0 0 40px
}

@media screen and (max-width:1680px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch
    }

    .row>* {
        box-sizing: border-box
    }

    .row {
        margin-top: -40px;
        margin-left: -40px
    }

    .row>* {
        padding: 40px 0 0 40px
    }
}

@media screen and (max-width:1280px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch
    }

    .row>* {
        box-sizing: border-box
    }

    .row {
        margin-top: -25px;
        margin-left: -25px
    }

    .row>* {
        padding: 25px 0 0 25px
    }
}

@media screen and (max-width:980px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch
    }

    .row>* {
        box-sizing: border-box
    }

    .row>.col-1-medium {
        width: 8.33333%
    }

    .row>.col-2-medium {
        width: 16.66667%
    }

    .row>.col-3-medium {
        width: 25%
    }

    .row>.col-4-medium {
        width: 33.33333%
    }

    .row>.col-5-medium {
        width: 41.66667%
    }

    .row>.col-6-medium {
        width: 50%
    }

    .row>.col-7-medium {
        width: 58.33333%
    }

    .row>.col-8-medium {
        width: 66.66667%
    }

    .row>.col-9-medium {
        width: 75%
    }

    .row>.col-10-medium {
        width: 83.33333%
    }

    .row>.col-11-medium {
        width: 91.66667%
    }

    .row>.col-12-medium {
        width: 100%
    }

    .row {
        margin-top: -25px;
        margin-left: -25px
    }

    .row>* {
        padding: 25px 0 0 25px
    }
}

@media screen and (max-width:736px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch
    }

    .row>* {
        box-sizing: border-box
    }

    .row>.col-1-small {
        width: 8.33333%
    }

    .row>.col-2-small {
        width: 16.66667%
    }

    .row>.col-3-small {
        width: 25%
    }

    .row>.col-4-small {
        width: 33.33333%
    }

    .row>.col-5-small {
        width: 41.66667%
    }

    .row>.col-6-small {
        width: 50%
    }

    .row>.col-7-small {
        width: 58.33333%
    }

    .row>.col-8-small {
        width: 66.66667%
    }

    .row>.col-9-small {
        width: 75%
    }

    .row>.col-10-small {
        width: 83.33333%
    }

    .row>.col-11-small {
        width: 91.66667%
    }

    .row>.col-12-small {
        width: 100%
    }

    .row {
        margin-top: -20px;
        margin-left: -20px
    }

    .row>* {
        padding: 20px 0 0 20px
    }
}

article,
section {
    margin-bottom: 5em
}

article:last-child,
article>:last-child,
section:last-child,
section>:last-child {
    margin-bottom: 0
}

header {
    margin: 0 0 2em 0
}

header h2,
header h3 {
    margin: 0 0 .25em 0
}

header p {
    margin: 0
}

footer {
    margin: 2.5em 0 0 0
}

form label {
    display: block;
    font-weight: 800;
    margin: 0 0 1em 0;
    font-size: .8em;
    color: #444
}

form input[type=email],
form input[type=password],
form input[type=text],
form textarea {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    border-radius: 8px;
    border: solid 1px #eee
}

form input[type=email]:focus,
form input[type=password]:focus,
form input[type=text]:focus,
form textarea:focus {
    border-color: #0090c5
}

form input[type=email],
form input[type=password],
form input[type=text] {
    line-height: 3em;
    padding: 0 1em
}

form textarea {
    min-height: 9em;
    padding: 1em
}

form ::-webkit-input-placeholder {
    color: #555 !important
}

form :-moz-placeholder {
    color: #555 !important
}

form ::-moz-placeholder {
    color: #555 !important
}

form :-ms-input-placeholder {
    color: #555 !important
}

form ::-moz-focus-inner {
    border: 0
}

.image {
    display: inline-block;
    outline: 0
}

.image img {
    display: block;
    width: 100%;
    border-radius: 8px
}

.image.featured {
    display: block;
    width: 100%;
    margin: 0 0 2.5em 0
}

.button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    background: #0090c5;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 800;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-size: 1.35em;
    padding: .6em 1.5em
}

.button.icon:before,
button.icon:before,
input[type=button].icon:before,
input[type=reset].icon:before,
input[type=submit].icon:before {
    position: relative;
    margin-right: .5em;
    top: .05em
}

.button:hover,
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
    background: #10a0d5
}

.button:active,
button:active,
input[type=button]:active,
input[type=reset]:active,
input[type=submit]:active {
    background: #20b0e5
}

.button.alt,
button.alt,
input[type=button].alt,
input[type=reset].alt,
input[type=submit].alt {
    background: #f1f1f1;
    background: rgba(0, 0, 0, .05);
    color: #444
}

.button.alt:hover,
button.alt:hover,
input[type=button].alt:hover,
input[type=reset].alt:hover,
input[type=submit].alt:hover {
    background: #e8e8e8;
    background: rgba(0, 0, 0, .085)
}

.button.alt:active,
button.alt:active,
input[type=button].alt:active,
input[type=reset].alt:active,
input[type=submit].alt:active {
    background: #e4e4e4;
    background: rgba(0, 0, 0, .15)
}

ul {
    list-style: disc;
    padding-left: 1em
}

ul li {
    padding-left: .5em
}

ul.style2 {
    list-style: none;
    padding-left: 0
}

ul.style2 li {
    padding-left: 0
}

ul.menu {
    list-style: none;
    padding-left: 0
}

ul.menu li {
    border-left: solid 1px #e0e0e0;
    display: inline-block;
    padding: 0 0 0 .75em;
    margin: 0 0 0 .75em
}

ul.menu li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0
}

.box {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, .05);
    padding: 2em
}

.box.feature {
    padding: 0
}

.box.feature .inner {
    padding: 4em 2em 3em 2em
}

.box.feature h2 {
    font-size: 1.35em
}

.box.feature p {
    margin: 0
}

.box.feature .image {
    position: relative;
    margin: 0
}

.box.feature .image img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.icon {
    text-decoration: none;
    position: relative;
    text-decoration: none
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400
}

.icon:before {
    line-height: inherit
}

.icon.brands:before {
    font-family: 'Font Awesome 5 Brands'
}

.icon>.label {
    display: none
}

.widget.contact ul {
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    position: relative;
    left: -4px;
    top: 4px;
    margin-bottom: 1.5em
}

.widget.contact ul li {
    display: inline-block;
    margin-right: .25em;
    padding-left: 0
}

.widget.contact ul li a {
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    line-height: 2.5em;
    border-radius: .35em;
    outline: 0;
    opacity: .75;
    text-decoration: none;
    background: #222
}

.widget.contact ul li a:before {
    color: #f3f3f3;
    font-size: 1.5em;
    line-height: inherit
}

.widget.contact ul li a:hover {
    background: #444
}

.widget.contact ul li a:active {
    background: #666
}

#header-wrapper {
    padding: 4.5em 0 3em 0
}

#features-wrapper {
    padding: 3em 0 3em 0
}

#main-wrapper {
    background: #fff;
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, .05);
    padding: 5em 0 5em 0
}

#footer-wrapper {
    padding: 6em 0 8em 0
}

#header {
    position: relative
}

#logo {
    display: inline-block
}

#logo img {
    max-width: 40%;
    max-height: 40%
}

#nav {
    position: absolute;
    right: 0;
    top: 0;
    font-size: .9em
}

#nav ul {
    list-style: none;
    padding-left: 0
}

#nav ul li {
    float: left;
    line-height: 4.5em;
    padding-left: 1.5em
}

#nav ul li a,
#nav ul li span {
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    font-weight: 800;
    letter-spacing: .025em;
    color: #696969;
    text-decoration: none;
    border-radius: 6px;
    padding: .5em 1em .5em 1em
}

#nav ul li>ul {
    display: none
}

#nav ul li:hover a,
#nav ul li:hover span {
    background: #fff
}

#nav ul li.active a,
#nav ul li.active span {
    background: #fff
}

#nav ul li.current a {
    background: #444;
    color: #fff
}

.dropotron {
    background: #fff;
    letter-spacing: .025em;
    color: #696969;
    text-decoration: none;
    border-radius: 6px;
    padding: .75em 0;
    min-width: 15em;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1), 0 .25em .25em .1em rgba(0, 0, 0, .025);
    margin-top: calc(-.75em + 1px);
    margin-left: -1px;
    list-style: none;
    padding-left: 0
}

.dropotron li {
    border-top: solid 1px #eee;
    line-height: 3em;
    padding-left: 0
}

.dropotron li:first-child {
    border-top: 0
}

.dropotron li>a,
.dropotron li>span {
    -moz-transition: color .25s ease-in-out, background-color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out, background-color .25s ease-in-out;
    -ms-transition: color .25s ease-in-out, background-color .25s ease-in-out;
    transition: color .25s ease-in-out, background-color .25s ease-in-out;
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 0 1.5em
}

.dropotron li>a:hover,
.dropotron li>span:hover {
    background: #eee
}

.dropotron li.active>a,
.dropotron li.active>span {
    background: #eee
}

#banner {
    position: relative;
    padding: 4.5em
}

#banner h2 {
    font-size: 3.5em;
    margin: .1em 0 .35em 0
}

#banner p {
    font-size: 2.75em;
    line-height: 1.35em;
    margin: 0
}

#banner .button {
    width: 100%;
    margin-bottom: .5em
}

#banner .button.icon:before {
    position: absolute;
    right: .15em;
    top: 50%;
    margin-top: -.5em
}

#banner .button.alt {
    margin-bottom: 0
}

#banner ul {
    list-style: none;
    padding-left: 0;
    margin: 0 0 0 2em
}

#banner ul li {
    padding-left: 0
}

#footer {
    margin-top: 0
}

#footer a {
    color: inherit
}

#copyright {
    color: #aaa;
    padding: 4em 0 0 0;
    text-align: center
}

#copyright a {
    color: inherit
}

@media screen and (max-width:1680px) {

    body,
    input,
    textarea {
        font-size: 12pt
    }
}

@media screen and (max-width:1280px) {

    body,
    input,
    textarea {
        font-size: 11pt
    }
}

@media screen and (max-width:980px) {

    body,
    html {
        overflow-x: hidden
    }

    body,
    input,
    textarea {
        font-size: 11pt
    }

    article,
    section {
        clear: both;
        margin-bottom: 3em !important
    }

    article.last,
    section.last {
        margin-bottom: 0 !important
    }

    ul.menu li {
        display: block;
        border: 0 !important;
        padding: 0 !important;
        margin: 0 !important
    }

    .button,
    button,
    input[type=button],
    input[type=reset],
    input[type=submit] {
        width: 100%;
        text-align: center;
        font-size: 1.35em;
        padding: .85em 0 !important
    }

    .button.icon,
    button.icon,
    input[type=button].icon,
    input[type=reset].icon,
    input[type=submit].icon {
        padding-right: .75em !important
    }

    .button.icon:before,
    button.icon:before,
    input[type=button].icon:before,
    input[type=reset].icon:before,
    input[type=submit].icon:before {
        margin-right: .5em;
        top: .05em
    }

    #header-wrapper {
        padding: 3em 0 1em 0;
        text-align: center
    }

    #footer-wrapper {
        padding: 6em 0 4em 0
    }

    #header {
        margin: 0 auto
    }

    #logo span {
        display: block;
        margin: 0
    }

    #nav {
        display: none
    }

    #banner {
        padding: 4.5em 3em;
        text-align: center
    }

    #banner ul {
        margin: 2em 0 0 0
    }

    #banner .button.icon:before {
        position: relative;
        right: auto;
        top: auto
    }

    #content {
        border-bottom: solid 1px #e8e8e8;
        padding-bottom: 4em;
        margin-bottom: 0 !important
    }

    #content>:last-child {
        margin-bottom: 0 !important
    }

    #sidebar>:last-child {
        margin-bottom: 0 !important
    }

    #copyright {
        padding: 0
    }

    #page-wrapper {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform .5s ease;
        -webkit-transition: -webkit-transform .5s ease;
        -ms-transition: -ms-transform .5s ease;
        transition: transform .5s ease;
        padding-bottom: 1px
    }
}

@media screen and (max-width:736px) {

    body,
    input,
    textarea {
        line-height: 2em
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 13pt;
        margin: 0 0 1em 0
    }

    article,
    section {
        clear: both;
        margin-bottom: 3em !important
    }

    article.last,
    section.last {
        margin-bottom: 0 !important
    }

    ul.menu li {
        display: block;
        border: 0 !important;
        padding: 0 !important;
        margin: 0 !important
    }

    .button,
    button,
    input[type=button],
    input[type=reset],
    input[type=submit] {
        width: 100%;
        text-align: center;
        font-size: 1.25em !important;
        padding: .65em 0 !important
    }

    .button.icon,
    button.icon,
    input[type=button].icon,
    input[type=reset].icon,
    input[type=submit].icon {
        padding-right: .75em !important
    }

    .button.icon:before,
    button.icon:before,
    input[type=button].icon:before,
    input[type=reset].icon:before,
    input[type=submit].icon:before {
        margin-right: .5em;
        top: .05em
    }

    .box {
        padding: 15px 15px 15px 15px;
        margin: 0
    }

    .box.feature {
        margin: 20px 0 0 0 !important;
        padding: 0
    }

    .box.feature .inner {
        padding: 30px 15px 30px 15px
    }

    .box.feature p {
        margin: 0
    }

    .box.feature .image {
        position: relative;
        margin: 0
    }

    .box.feature .image img {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0
    }

    #header-wrapper {
        padding: 3em 0 1.5em 0
    }

    #banner-wrapper {
        padding: 0 15px 0 15px
    }

    #features-wrapper {
        padding: 0 15px 40px 15px
    }

    #footer-wrapper,
    #main-wrapper {
        padding: 40px 30px 40px 30px
    }

    #logo h1 {
        font-size: 2.75em;
        padding: .2em .275em
    }

    #logo span {
        line-height: 3em
    }

    #banner {
        text-align: center;
        padding: 15px 15px 15px 15px;
        margin: 0 auto !important
    }

    #banner h2 {
        font-size: 2em;
        margin: .75em 0 .5em 0
    }

    #banner p {
        font-size: 1.5em;
        line-height: 1.5em;
        margin: 0
    }

    #banner ul {
        margin: 0
    }

    #banner .button {
        margin: 0 0 1em 0
    }

    #content {
        padding-bottom: 3em
    }

    #footer section {
        border-bottom: solid 1px #ccc;
        padding-bottom: 3em;
        margin-bottom: 1em !important
    }

    #copyright {
        text-align: left
    }
}

.action-menu {
    margin: 10px;
    padding: 10px;
    list-style-type: none
}

.action-menu li {
    min-width: 102px;
    padding-right: 10px;
    font-size: 1.25em;
    color: #333
}

.action-menu a {
    position: relative;
    text-decoration: none;
    opacity: .5
}

.action-menu a:hover {
    opacity: 1
}

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2)
}

.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center
}

.panel-login>.panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: 700;
    font-size: 15px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    transition: all .1s linear
}

.panel-login>.panel-heading a.active {
    color: #029f5b;
    font-size: 18px
}

.panel-login input[type=email],
.panel-login input[type=password],
.panel-login input[type=text] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    transition: all .1s linear
}

.panel-login input:focus,
.panel-login input:hover {
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc
}

.btn-login {
    background-color: #59b2e0;
    outline: 0;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: 400;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59b2e6
}

.btn-login:focus,
.btn-login:hover {
    color: #fff;
    background-color: #53a3cd;
    border-color: #53a3cd
}

.forgot-password {
    text-decoration: underline;
    color: #888
}

.forgot-password:focus,
.forgot-password:hover {
    text-decoration: underline;
    color: #666
}

.profile-info,
.profile-navs {
    margin-top: 30px
}

.profile-navs .user-heading {
    background: #fbc02d;
    color: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    padding: 30px;
    text-align: center
}

.profile-navs .user-heading.round a {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, .3);
    display: inline-block
}

.profile-navs .user-heading a img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    -webkit-border-radius: 50%
}

.profile-navs .user-heading h1 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 5px
}

.profile-navs .user-heading p {
    font-size: 12px
}

.profile-navs ul {
    margin-top: 1px
}

.profile-navs ul>li {
    border-bottom: 1px solid #ebeae6;
    margin-top: 0;
    line-height: 30px
}

.profile-navs ul>li:last-child {
    border-bottom: none
}

.profile-navs ul>li>a {
    border-radius: 0;
    -webkit-border-radius: 0;
    color: #89817f;
    border-left: 5px solid #fff
}

.profile-navs ul li.active a,
.profile-navs ul>li>a:focus,
.profile-navs ul>li>a:hover {
    background: #f8f7f5 !important;
    border-left: 5px solid #fbc02d;
    color: #89817f !important
}

.profile-navs ul>li:last-child>a:last-child {
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px
}

.profile-navs ul>li>a>i {
    font-size: 16px;
    padding-right: 10px;
    color: #bcb3aa
}

.r-activity {
    margin: 6px 0 0;
    font-size: 12px
}

.p-text-area,
.p-text-area:focus {
    border: none;
    font-weight: 300;
    box-shadow: none;
    color: #c3c3c3;
    font-size: 16px
}

.profile-info .panel-footer {
    background-color: #f8f7f5;
    border-top: 1px solid #e7ebee
}

.profile-info .panel-footer ul li a {
    color: #7a7a7a
}



.bio-graph-info {
    color: #89817e;
    margin-top: 2.5em
}

.bio-graph-info h1 {
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 20px
}

.bio-row {
    width: 50%;
    float: left;
    margin-bottom: 10px;
    padding: 0 15px
}

.bio-row p span {
    width: 100px;
    display: inline-block
}

.profile-activity h5 {
    font-weight: 300;
    margin-top: 0;
    color: #c3c3c3
}

.activity {
    width: 100%;
    float: left;
    margin-bottom: 10px
}

.activity.alt {
    width: 100%;
    float: right;
    margin-bottom: 10px
}

.activity span {
    float: left
}

.activity.alt span {
    float: right
}

.activity span,
.activity.alt span {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #eee;
    text-align: center;
    color: #fff;
    font-size: 16px
}

.activity h4 {
    margin-top: 0;
    font-size: 16px
}

.activity p {
    margin-bottom: 0;
    font-size: 13px
}
/* =================================================================== */
/* Sign/ssign up form  */
.cd-main-nav {
    float: right;
    margin-right: 5%;
    width: 44px;
    height: 100%;
    background: url("../img/cd-icon-menu.svg") no-repeat center center;
    cursor: pointer;
  }
  
  .cd-main-nav__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  
  .cd-main-nav__list.cd-main-nav__list--is-visible {
    -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
            transform: translateY(50px);
  }
  
  /* .cd-main-nav__item {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 5%;
    background: #292a34;
    border-top: 1px solid #3b3d4b;
    color: #FFF;
  } */
  
  @media only screen and (min-width: 768px) {
    .cd-main-nav {
      /* reset style */
      width: auto;
      height: auto;
      background: none;
      cursor: auto;
    }
    .cd-main-nav__list {
     margin-left: -.9em;
      /* position: static; */
      width: auto;
      /* -webkit-transform: translateY(0); */
          /* -ms-transform: translateY(0); */
              /* transform: translateY(0); */
      /* line-height: 80px; */
    }
    /* .cd-main-nav__list.cd-main-nav__list--is-visible {
   
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
    } */
    /* .cd-main-nav__list li {
      display: inline-block;
      margin-left: 1em;
    } */
    /* .cd-main-nav__list li:nth-last-child(2) {
      margin-left: 2em;
    } */
    /* .cd-main-nav__item {
      display: inline-block;
      height: auto;
      line-height: normal;
      background: transparent;
    }
    .cd-main-nav__item.cd-main-nav__item--signin, .cd-main-nav__item.cd-main-nav__item--signup {
      padding: .6em 1em;
      border-radius: 50em;
    }
   */
    .cd-main-nav__item.cd-main-nav__item--signup {
      background: #2f889a;
    }
  }
  
  /* -------------------------------- 
  
  x sigin/signup popup 
  
  -------------------------------- */
  .cd-signin-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 3;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .cd-signin-modal.cd-signin-modal--is-visible {
    visibility: visible;
    opacity: 1;
  }
  
  .cd-signin-modal__container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
            transform: translateY(-30px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  
  .cd-signin-modal--is-visible .cd-signin-modal__container {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  
  .cd-signin-modal__switcher:after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
  }
  
  .cd-signin-modal__switcher li {
    width: 50%;
    float: left;
    text-align: center;
  }
  
  .cd-signin-modal__switcher li:first-child a {
    border-radius: .25em 0 0 0;
  }
  
  .cd-signin-modal__switcher li:last-child a {
    border-radius: 0 .25em 0 0;
  }
  
  .cd-signin-modal__switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
  }
  
  .cd-signin-modal__switcher a.cd-selected {
    background: #FFF;
    color: #505260;
  }
  
  @media only screen and (min-width: 600px) {
    .cd-signin-modal__container {
      margin: 4em auto;
    }
    .cd-signin-modal__switcher a {
      height: 70px;
      line-height: 70px;
    }
  }
  
  .cd-signin-modal__form {
    padding: 1.4em;
  }
  
  .cd-signin-modal__fieldset {
    position: relative;
    margin: 1.4em 0;
  }
  
  .cd-signin-modal__fieldset:first-child {
    margin-top: 0;
  }
  
  .cd-signin-modal__fieldset:last-child {
    margin-bottom: 0;
  }
  
  .cd-signin-modal__label {
    font-size: 1.4rem;
  }
  
  .cd-signin-modal__label.cd-signin-modal__label--image-replace {
    /* replace text with an icon */
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
  
  .cd-signin-modal__label.cd-signin-modal__label--username {
    background-image: url("../img/cd-icon-username.svg");
  }
  
  .cd-signin-modal__label.cd-signin-modal__label--email {
    background-image: url("../img/cd-icon-email.svg");
  }
  
  .cd-signin-modal__label.cd-signin-modal__label--password {
    background-image: url("../img/cd-icon-password.svg");
  }
  
  .cd-signin-modal__input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
  }
  
  .cd-signin-modal__input.cd-signin-modal__input--full-width {
    width: 100%;
  }
  
  .cd-signin-modal__input.cd-signin-modal__input--has-padding {
    padding: 12px 20px 12px 50px;
  }
  
  .cd-signin-modal__input.cd-signin-modal__input--has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  
  .cd-signin-modal__input.cd-signin-modal__input--has-border:focus {
    border-color: #343642;
    -webkit-box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
            box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
  }
  
  .cd-signin-modal__input.cd-signin-modal__input--has-error {
    border: 1px solid #d76666;
  }
  
  .cd-signin-modal__input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #2f889a;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .cd-signin-modal__input[type=submit]:hover, .cd-signin-modal__input[type=submit]:focus {
    background: #3599ae;
    outline: none;
  }
  
  .cd-signin-modal__hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 1.4rem;
    color: #343642;
  }
  
  .cd-signin-modal__error {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    z-index: 2;
    color: #FFF;
    font-size: 1.3rem;
    border-radius: 0.25em;
    /* prevent click and touch events */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
  }
  
  .cd-signin-modal__error::after {
    /* triangle */
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
  }
  
  .cd-signin-modal__error.cd-signin-modal__error--is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
  }
  
  @media only screen and (min-width: 600px) {
    .cd-signin-modal__form {
      padding: 2em;
    }
    .cd-signin-modal__fieldset {
      margin: 2em 0;
    }
    .cd-signin-modal__fieldset:first-child {
      margin-top: 0;
    }
    .cd-signin-modal__fieldset:last-child {
      margin-bottom: 0;
    }
    .cd-signin-modal__input.cd-signin-modal__input--has-padding {
      padding: 16px 20px 16px 50px;
    }
    .cd-signin-modal__input[type=submit] {
      padding: 16px 0;
    }
  }
  
  .cd-signin-modal__message {
    padding: 1.4em 1.4em 0;
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: center;
  }
  
  @media only screen and (min-width: 600px) {
    .cd-signin-modal__message {
      padding: 2em 2em 0;
    }
  }
  
  .cd-signin-modal__bottom-message {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -30px;
    text-align: center;
    font-size: 1.4rem;
  }
  
  .cd-signin-modal__bottom-message a {
    color: #FFF;
    text-decoration: underline;
  }
  
  .cd-signin-modal__close {
    /* form X button on top right */
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    background: url("../img/cd-icon-close.svg") no-repeat center center;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  
  @media only screen and (min-width: 1170px) {
    .cd-signin-modal__close {
      display: none;
    }
  }
  
  .cd-signin-modal__block {
    display: none;
  }
  
  .cd-signin-modal__block.cd-signin-modal__block--is-selected {
    display: block;
  }
  

  .topMemes{
      /* background-color: #00415d; */
      
      margin-bottom: 1em;
      position: relative;
  }