/* This is the styling for the meme template page and the editing of the meme only */

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	
	vertical-align: baseline;
    }


body {
    font-family: 'Lato', sans-serif;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("images/bg01.png");
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("images/bg01.png");
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("images/bg01.png");
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("images/bg01.png");
    background-color: #f7f7f7;
    background-position: top left, top left;
    background-repeat: repeat-x, repeat;
    background-size: 100% 30em, auto;
   
    color: #696969;
   
    line-height: 2.25em;
}

.header {
    text-transform: uppercase;
}

.discription {
    text-transform: none;
}

.source:hover {
    text-decoration: none;
}

.choice .custom-file {
    font-size: 16px;
    
}

.choice p {
    display: inline-block;
    font-size: 20px;
}

.input-image {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    width: 260px;
}

.choice input {
    display: none;   
}

.custom-file {
    height: calc(1em + 1.5rem + 0px);
}

.choice label {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
/*  border-radius: 5px; */
    height: calc(1em + 1.5rem + 0px);
    padding: 0.5rem 1.5rem;
    border: 0;
    border-radius: .4em;
    
}

.choice label::after {
    height: calc(1em + 1.5rem);
    padding: 0.5rem 1.5rem;
    border-radius: 0;
}

.choice label:hover {
    cursor: pointer;
}

.custom-file #browse{
    text-align: center;
    padding-bottom: 1em;
}

/* .meme-wrapper{
  background-color: #706969;
  margin-left: 6em;
  margin-right: 3em;
} */

.memes-container div{
   
    /* background-color: #d9534f; */
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    /* border: black solid 4px; */
    /* margin-top: 1em;
    margin-right: 3em;
    margin-left: 3em; */
    border-radius: 1em;

}

.grid-sizer{
    /* display: inline; */
    border-radius: 2em;
}

/* ////////////////////////// */
/* Responsive Grid*/
@media (max-width: 575px) { 
    .grid-sizer,
    .grid-item {
      width: 50%;
    } 
}

@media (min-width: 576px) { 
    .grid-sizer,
    .grid-item {
      width: 33.333%;
    } 
}

@media (min-width: 768px) { 
    .grid-sizer,
    .grid-item {
      width: 25%;
    } 
}

@media (min-width: 992px) { 
    .grid-sizer,
    .grid-item {
      width: 20%;
    } 
}

@media (min-width: 1200px) { 
    .grid-sizer,
    .grid-item {
      width: 20%;
    } 
}

.grid-item {
    overflow: hidden;
}

.grid-item img {
  display: block;
  width: 100%;
  transition: all 0.2s;
}

.grid-item img:hover {
    transform: scale(1.1);
}

.form-group {
    margin-bottom: 0.75rem;
}

.meme-preview {
    border: 1px solid #cecece;
}


.preview {
    padding-left: 15px;
    padding-right: 15px;
}

.back-btn .btn{
    font-size: 14px;
    font-weight: 700;
    text-transform: none;
}

.canvas-container {
    width: 100%;
}

canvas {
    width: 100% !important;
    height: 100% !important;
    max-width: 100%;
    max-height: 100%
}

.new-select {
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: 0px auto -webkit-focus-ring-color!important;
}

#bg-option {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.add-btns{
    border-bottom: 1px solid #cecece;
}

.alert-container {
    position: fixed;
    top: 0;
    z-index: 99999;
}

/* //////////////////////////////// */

/* New css */
#header-wrapper {
    padding: 4.5em 0 3em 0;
}

#header {
    position: relative;
}

#nav {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.9em;
}

    #nav ul {
        list-style: none;
        padding-left: 0;
    }

        #nav ul li {
            float: left;
            line-height: 4.5em;
            padding-left: 1.5em;
        }

            #nav ul li a, #nav ul li span {
                -moz-transition: background-color .25s ease-in-out;
                -webkit-transition: background-color .25s ease-in-out;
                -ms-transition: background-color .25s ease-in-out;
                transition: background-color .25s ease-in-out;
                font-weight: 800;
                letter-spacing: 0.025em;
                color: #696969;
                text-decoration: none;
                border-radius: 6px;
                padding: 0.5em 1em 0.5em 1em;
            }

            #nav ul li > ul {
                display: none;
            }

            #nav ul li:hover a, #nav ul li:hover span {
                background: #fff;
            }

            #nav ul li.active a, #nav ul li.active span {
                background: #fff;
            }

            #nav ul li.current a {
                background: #444;
                color: #fff;
            }



            /* Medium */
            #navPanel, #navToggle {
                display: none;
            }

            @media screen and (max-width: 980px) {
                #header-wrapper {
                    padding: 3em 0 1em 0;
                    text-align: center;
                }
                #header {
                    margin: 0 auto;
                }
    
            #nav {
				display: none;
			}

            #page-wrapper {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				padding-bottom: 1px;
			}

			#navToggle {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 44px;
				left: 0;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 10001;
			}

				#navToggle .toggle {
					text-decoration: none;
					width: 70px;
					height: 50px;
					opacity: 0.35;
				}

					#navToggle .toggle:before {
						-moz-osx-font-smoothing: grayscale;
						-webkit-font-smoothing: antialiased;
						display: inline-block;
						font-style: normal;
						font-variant: normal;
						text-rendering: auto;
						line-height: 1;
						text-transform: none !important;
						font-family: 'Font Awesome 5 Free';
						font-weight: 900;
					}

					#navToggle .toggle:before {
						display: inline-block;
						text-decoration: none;
						position: absolute;
						left: 6px;
						top: 6px;
						background: rgba(0, 0, 0, 0.5);
						width: 58px;
						height: 38px;
						border-radius: 6px;
						content: '\f0c9';
						color: #fff;
						text-align: center;
						line-height: 38px;
						font-size: 20px;
					}

					#navToggle .toggle:active {
						opacity: 0.75;
					}

			#navPanel {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translateX(-275px);
				-webkit-transform: translateX(-275px);
				-ms-transform: translateX(-275px);
				transform: translateX(-275px);
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: 275px;
				z-index: 10002;
				background: #fff;
				box-shadow: inset -3px 0px 0px 0px #dfdfdf;
				padding: 0 23px 0 20px;
			}

				#navPanel .link {
					display: block;
					text-decoration: none;
					height: 54px;
					line-height: 54px;
					border-top: solid 1px #e8e8e8;
					color: #696969;
				}

					#navPanel .link:first-child {
						border-top: 0;
					}

				#navPanel .indent-1 {
					display: inline-block;
					width: 1em;
				}

				#navPanel .indent-2 {
					display: inline-block;
					width: 2em;
				}

				#navPanel .indent-3 {
					display: inline-block;
					width: 3em;
				}

				#navPanel .indent-4 {
					display: inline-block;
					width: 4em;
				}

				#navPanel .indent-5 {
					display: inline-block;
					width: 5em;
				}

				#navPanel .depth-0 {
					color: #444;
					font-weight: 800;
				}

			body.navPanel-visible #page-wrapper {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #navToggle {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #navPanel {
				-moz-transform: translateX(0);
				-webkit-transform: translateX(0);
				-ms-transform: translateX(0);
				transform: translateX(0);
			}
        }

        @media screen and (max-width: 736px) {
            #header-wrapper {
				padding: 3em 0 1.5em 0;
			}
        }


        /* Logo */
        #logo {
            display: inline-block;
            
        }
    
        #logo img {
            max-width: 40%;
            max-height: 40%;
        }
        /* ////////////////////////////////////////////// */
        /* profile styling */
       